apiVersion: v1
kind: Config
clusters:
- name: karmada
  cluster:
    server: https://karmada-apiserver.karmada-system.svc:5443
    certificate-authority-data: 
users:
- name: sdi-scheduler
  user:
    token: eyJhbGciOiJSUzI1NiIsImtpZCI6IlNzdC1oYzJiUlNUYkc1SDdpUlJyek9RdEViZzAtbHBtWVpONUxVOFZtVDgifQ.eyJhdWQiOlsiaHR0cHM6Ly9rdWJlcm5ldGVzLmRlZmF1bHQuc3ZjLmNsdXN0ZXIubG9jYWwiXSwiZXhwIjoxNzU2NDU0MzY1LCJpYXQiOjE3NTYzNjc5NjUsImlzcyI6Imh0dHBzOi8va3ViZXJuZXRlcy5kZWZhdWx0LnN2Yy5jbHVzdGVyLmxvY2FsIiwianRpIjoiNjEzMzkwNWYtNzQzMi00MTkzLTk1OTctYmFmNTcyOWEzNTNjIiwia3ViZXJuZXRlcy5pbyI6eyJuYW1lc3BhY2UiOiJrYXJtYWRhLXN5c3RlbSIsInNlcnZpY2VhY2NvdW50Ijp7Im5hbWUiOiJrYXJtYWRhLXNjaGVkdWxlciIsInVpZCI6Ijc2M2VlYTIyLWUwN2MtNDdhNS05ZjllLWZjMjVhYmYxNjFiZSJ9fSwibmJmIjoxNzU2MzY3OTY1LCJzdWIiOiJzeXN0ZW06c2VydmljZWFjY291bnQ6a2FybWFkYS1zeXN0ZW06a2FybWFkYS1zY2hlZHVsZXIifQ.a2BvICxk5kjF2T1h820Weys1kv_LHGDvwBHITLrsqT6uFaabgBO7ib8IzAP9PfdpU8jDtoLJ0NGnYPAy7vEgFSO1bj4NTjth485tTdfbj9mI0TzTKhtr_9MUdAHJ2TxbpHZAU2jGkKEqd2mhhOxi6LVte51Lrp13mJDxFTCkRvwrUxUAt1w-oNeGRdVDoBBxy4XBx1Pk171prROcICszy6yngMZAQLgFnjc3CsHl5gAk_I0gVwQeUtX_aRGmOXas-6QQSoyRZaM-3hmCG9Poro7hAtofhuAHqDaPslo9oRb66BSet28GBPkB7tm_YAxaUg6sD3om6_m2l6l3tBjtIw
contexts:
- name: karmada
  context:
    cluster: karmada
    user: sdi-scheduler
current-context: karmada
