---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  namespace: sdi-demo
  name: male-controller-manager-role-sdi-demo
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
  - patch
  - update