apiVersion: v1
kind: Pod
metadata:
  name: fastdds-discovery-server
  labels:
    app: discovery-server
spec:
  # 컨트롤 플레인에 배포
  nodeSelector:
    node-role.kubernetes.io/control-plane: "true"
  
  hostNetwork: true
  
  containers:
    - name: discovery-server
      image: ketidevit2/ros-humble:1.0.1
      imagePullPolicy: IfNotPresent
      command: ["/bin/bash", "-c"]
      args:
        - |
          source /opt/ros/humble/setup.bash
          echo "Starting FastDDS Discovery Server on 0.0.0.0:11811..."
          fastdds discovery -i 0 -l 0.0.0.0 -p 11811
      ports:
        - containerPort: 11811
          protocol: TCP
          name: discovery
        - containerPort: 11811
          protocol: UDP
          name: discovery-udp
      
  restartPolicy: Always