apiVersion: v1
kind: Config
clusters:
- name: karmada
  cluster:
    server: https://127.0.0.1:5443
    insecure-skip-tls-verify: true  # (테스트용) 인증서 검증 스킵
users:
- name: local
  user:
    token: $(kubectl -n karmada-system create token karmada-scheduler --duration=24h)
contexts:
- name: karmada
  context:
    cluster: karmada
    user: local
current-context: karmada
