# (A) Namespace - mc-test (이미 있으면 그대로 유지/갱신)
apiVersion: v1
kind: Namespace
metadata:
  name: mc-test

---
# (B) ClusterPropagationPolicy - 데모 리소스를 전파 + 우리 스케줄러로 스케줄
apiVersion: policy.karmada.io/v1alpha1
kind: ClusterPropagationPolicy
metadata:
  name: mc-test-male-demo
spec:
  resourceSelectors:
    - apiVersion: apps/v1
      kind: Deployment
      namespace: mc-test
      labelSelector:
        matchLabels:
          app: male-demo
    - apiVersion: v1
      kind: Service
      namespace: mc-test
      labelSelector:
        matchLabels:
          app: male-demo

  # 커스텀 스케줄러 사용
  schedulerName: sdi-cluster-scheduler

  # 특정 멤버로 고정하고 싶으면 주석 해제
  # placement:
  #   clusterAffinity:
  #     clusterNames: ["k3s-cluster"]

---
# (C) Demo Deployment
apiVersion: apps/v1
kind: Deployment
metadata:
  name: male-demo
  namespace: mc-test
  labels:
    app: male-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: male-demo
  template:
    metadata:
      labels:
        app: male-demo
    spec:
      containers:
        - name: nginx
          image: nginx:1.25
          ports:
            - containerPort: 80

---
# (D) Demo Service (NodePort)
apiVersion: v1
kind: Service
metadata:
  name: male-demo
  namespace: mc-test
  labels:
    app: male-demo
spec:
  type: NodePort
  selector:
    app: male-demo
  ports:
    - name: http
      port: 80
      targetPort: 80
      # nodePort: 31387  # 고정하고 싶으면 주석 해제
