---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - opensdi.opensdi.io
  resources:
  - malepolicies
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - opensdi.opensdi.io
  resources:
  - malepolicies/finalizers
  verbs:
  - update
- apiGroups:
  - opensdi.opensdi.io
  resources:
  - malepolicies/status
  verbs:
  - get
  - patch
  - update
